
@media screen,print {
	body {
		background-color: #FFF;
		margin: 0;
		padding: 10px 20px;
	}

	h1 {
		margin: 0; padding: 0;
		font: bold 18px/1.2em Verdana, "Bookman Old Style", Georgia, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}

	h2 {
		margin: 0; padding: 0;
		font: bold 24px/1.2em Verdana, Georgia, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}

	h3 {
		margin: 0;
		padding: 10px 0 10px 0;
		font: bold 14px/1.5em Verdana, Georgia, Arial, Helvetica, sans-serif;
		color: #AF0B34;
	}

	h4 {
		margin: 0; padding: 15px 0 8px 0;
		font: bold 14px/1.4em Verdana, "Bookman Old Style", Georgia, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}

	h5 {
		margin: 0; padding: 0 0 10px 0;
		font: bold 12px/1.4em Verdana, "Bookman Old Style", Georgia, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}

	h6 {
		margin: 0; padding: 5px 0 2px 0;
		font: bold 14px/1.4em Verdana, "Bookman Old Style", Georgia, Arial, Helvetica, sans-serif;
		color: #AF0B34;
	}

	p {
		margin: 0 0 10px 0;
	}

	ol {
		font: normal 11px/1.5em Verdana, Arial, Helvetica, sans-serif;
	}

	ul {
		list-style-type: square;
		margin: 0 0 0 20px;
		padding: 0 0 0 12px;
	}

	small {
		font: normal 10px Verdana, Arial, Helvetica, sans-serif;
		color: #888;
	}

	em, cite {
		font-style: normal;
	}

	a:link, a:visited {
				color: #3D3D3D;
	}

	a:hover, a:active {
		color: #9D9D9D;
	}

}

@media print {
	body, p {
		font: normal 9pt/1.2em Georgia, Arial, Helvetica, sans-serif;
	}

	h1, h2, h3, h4, h5, h6 { margin: 2px 0 10px 0; }

	#menu, #intro, .quote { display: none; }

	#content { clear: both; }
	#footer { font-size: 5pt; }

	a:after {
		content: " (" attr(href) ") ";
		text-decoration: none;
	}
}

@media screen {
	/* Body Styles */

	body {
		background-color: #6D6D6D;
		margin: 0 auto; padding: 40px 0;
		text-align: center;

		font: normal 12px/1.4em Verdana, Georgia, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}


	/* Link Styles */

	a:link, a:visited, a:active {
		color: #3D3D3D;
		text-decoration: none;
		border-bottom: 1px solid #C1C0C0;
	}

	a:hover {
		text-decoration: none;
		border-bottom: 1px solid #9D9D9D;
	}
	#footer a:link, #footer a:visited, #footer a:active {
		color: #9D9D9D;
		text-decoration: none;
	}

	#footer a:hover {
		text-decoration: none;
	}


	/* Form Styles */
	form {
		margin: 0; padding: 0;
	}

	input, textarea, select {
		font: normal 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}


	/* Text Styles */
	#content h3 { width: 470px; }

	h5 .underscore a { color: #AF0B34; text-decoration: none; border-width: 0; }
	.underscore { padding: 0 0 2px 0; border-bottom: 1px solid #9D9D9D; }
	.brand { font-weight: bold; }


	/* Layout Styles */

	#wrap {
		margin: 0 auto; padding: 0;
		width: 940px;
		background-color: white;
		border: 1px solid #C1C0C0;
		text-align: left;
	}

	#header {
		margin: 0;
		padding: 0;
		height: 60px;
		text-indent: -999em;
	}

	#menu {
		margin-top: 30px;
		margin-left: 36px;
		margin-bottom: 1em;
		overflow: hidden;
		/* width: 740px; */
		width: 860px;
	}

	#intro {
		clear: both;
		height: 248px;
		margin: 0;
		padding: 0;
		margin-right: 35px;
	}

	#content {
		clear: both;
		margin: 0;
		padding: 20px 36px;
	}

	#footer {
		clear: both;
		text-align: left;
		margin: 0;
		padding: 0 36px;
	}


	/* Nav Styles */

	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#menu li {
		border-left: 1px solid #C1C0C0;
		background-image: none;
		float: left;
		line-height: 1.5em;
		margin: 0 1em 0 -1em;
		padding: 0 1em 0 1em;
		font: normal 11px Verdana, Georgia, Arial, Helvetica, sans-serif;
	}
	#menu a:link, #menu a:visited { color: #9D9D9D; }
	#menu a:hover, #menu a:active { color: #676767; }
	#menu #active { color: #AF0B34; font-weight: bold; }


	/* Body styles */

	#body, #noquote {
		width: 880px;
		float: left;
		margin-right: 20px;
		clear: both;
	}

	#body p, #noquote p { text-align: left; }

	#body-left {
		width: 235px;
		float: left;
		margin: 0; padding: 0; margin-right: 20px;
	}

	#body-right {
		width: 235px;
		float: left;
		margin: 0; padding: 0; margin-right: 20px;
	}

	#zzq {
		width: 235px;
		float: right;
		clear: both;
	}

	table {
		margin-bottom: 15px;
	}

	#tabledata {
		border: 1px solid #EEE;
		border-width: 1px 0 0 1px;
		font: normal 11px/1.4em Arial, Helvetica, sans-serif;
	}

	#tabledata td {
		border-bottom: 1px solid #EEE;
		border-right: 1px solid #EEE;
		margin: 0; padding: 4px 6px;
		}

	table.hist {
		margin-bottom: 15px;
		font: normal 10px Arial, Helvetica, sans-serif;
	}

	td.HAM {
		color: green;
	}

	td.SPAM {
		color: red;
	}

	td.VIRUS {
		color: black;
	}

	td.spam {
		background: red;
	}

	td.ham {
		background: green;
	}


/* Quote */

	#headerimg {
		float: left;
		margin: 0; padding: 0;
	}

	.quote {
		float: right;
		width: 162px !important;
		width /**/: 165px; /* For IE */
		margin: 0; padding: 0 0 10px 0;
		background: url("/images/quote.gif") bottom center no-repeat;
		border-top: 1px solid #DEDEDE;
	}

	.quote p {
		margin: 0; padding: 4px 8px;
		color: #6D6D6D;
		font: normal 12px/1.6em Verdana, Arial, Helvetica, sans-serif;
	}

        .aaaa {
                float: right;
		width: 162px !important;
		width /**/: 165px; /* For IE */
                margin: 0; padding: 0 0 10px 0;
        }

        .aaaa p {
                margin: 0; padding: 4px 8px;
                color: #6D6D6D;
                font: normal 12px/1.6em Verdana, Arial, Helvetica, sans-serif;
        }

	.quotesource {
		float: right;
		width: 162px !important;
		width /**/: 165px; /* For IE */
		margin: 0; padding: 0;
	}

	.quotesource p {
		margin: 0; padding: 4px;
		color: #6D6D6D;
		font: normal 11px/1.6em Verdana, Arial, Helvetica, sans-serif;
	}

	.multi p {
		padding-bottom: 40px;
	}


	.loginfailed {
		color: red;
		font: normal 11px/1.6em Verdana, Arial, Helvetica, sans-serif;
	}


	/* Footer Styles */
	#footer p {
		font-size: 11px;
		color: #9D9D9D;
		padding: 15px 0;
	}

	#dhtmltooltip {
		position: absolute;
		width: 150px;
		border: 2px solid black;
		padding: 2px;
		background-color: lightyellow;
		color: #ffffff;
		visibility: hidden;
		z-index: 100;
	}

}
