@media screen {

	#clapf1 { width: 100%; height: 100%; background: #ffffff; border: 0px solid black; position: absolute; margin-left: auto; margin-right: auto; padding-top: 0px; }

	#messagebox1 { position: absolute; top: 0px; left: 50%; border: 3px solid red; display: none; background: orange; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }

        #menu { height: 40px; border: 0px solid red; }
        #menu a:hover, #menu a:active { color: #850505; }

	#expertsearch { position: absolute; border: 0px solid black; right: 20px; left: 20px; text-align: left; font: normal 19px Arial, sans-serif; margin-top: 10px; }
	#searchpopup1 { position: absolute; top: 40px; left: 0px; width: 600px; border: 2px solid red; display: none; background: white; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }

	#advsearch_caret { position: absolute; top: 15px; margin-left: -20px; margin-right: 20px; }

	.form-signin { max-width: 300px; padding: 19px 29px 29px; margin: 0 auto 20px; margin-top: 200px; background-color: #fff; border: 0px solid #e5e5e5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); box-shadow: 0 1px 2px rgba(0,0,0,.05); }

	.form-signin .form-signin-heading,
	.form-signin .checkbox { margin-bottom: 10px; }

	.form-signin input[type="text"],
	.form-signin input[type="password"] { font-size: 16px; height: auto; margin-bottom: 15px; padding: 7px 9px; }


	#sspinner { position: relative; width: 100%; border: 0px solid #999999; color: #000000; font-weight: bold; vertical-align: middle; text-align: left; padding: 15px; z-index: 1; display: none; margin: auto; margin-top: 150px; }

	.row { display: table-row; }
	.domainrow { display: table-row; border: 2px solid gray; padding: 10px; }
	.logincell { display: table-cell; font: bold 12px Arial, sans-serif; padding: 5px; vertical-align: top; }
	.domaincell { display: table-cell; font: bold 12px Arial, sans-serif; border: 1px solid gray; padding: 5px; vertical-align: top; }
	.healthcell { display: table-cell; font: bold 12px Arial, sans-serif; padding: 5px; vertical-align: top; }

	.piler-right-margin { margin-right: 30px; }

	#ss1 { display: table; border-collapse: collapse; margin: 0; padding: 0; margin-top: 10px; clear: both; }

        #mainscreen { position: absolute; top: 90px; right: 20px; bottom: 20px; left: 20px; }
	#mainscreen.up { top: 50px; }

        #mailleftcontainer { position: absolute; top: 0; left: 0; bottom: 0; width: 195px; }
        #mailboxlist-container { position: absolute; top: 0; left: 0; width: 100%; bottom: 0; border: 1px solid #999; background-color: #F9F9F9; overflow-y: auto; overflow-x: hidden; }
        #mailboxlist { position:relative; height: auto; margin: 0px; padding: 0px; list-style-image: none; list-style-type: none; overflow: hidden; white-space: nowrap; background-color: #FFF; }
        #mailrightcontainer { position: absolute; top: 0; left: 170px; bottom: 0; right: 0; min-width: 400px; }
        #mailrightcontent { position: absolute; top: 0px; left: 0; right: 0; bottom: 0; }
        #mailcontframe { position: absolute; width: 100%; top: 0; bottom: 0; border: 1px solid #999999; background-color: #F9F9F9; overflow: hidden; }
        #mailpreviewframe { position: absolute; width: 100%; top: 205px; bottom: 0px; border: 1px solid #999999; background-color: #F9F9F9; overflow-y: auto; }

        .boxlistcontent { position: absolute; top: 5px; bottom: 40px; left: 0; right: 0; width: 100%; overflow-y: auto; overflow-x: hidden; height: auto; }
        .boxfooter { position: absolute;  bottom: 0px; left: 0px; right: 0px; overflow: hidden; border-top: 1px solid #999; }

        .splitter { user-select: none; -moz-user-select: none; -khtml-user-select: none; position: absolute; background: url(/view/theme/default/images/dimple.png) center no-repeat; }
        .splitter-h { cursor: n-resize; cursor: row-resize; background-position: center 2px; }
        .splitter-v { cursor: e-resize; cursor: col-resize; background-position: 2px center; }

        #health1 { display: table-cell; margin-top: 10px; margin-bottom: 0; }
	#health2 { display: table-cell; text-align: left; }

	.cellhealthleft { display: table-cell; height: 25px; text-align: left; padding: 3px; font: bold 12px Arial, sans-serif; }
	.cellhealthright { display: table-cell; height: 25px; text-align: left; padding: 3px; font: normal 12px Arial, sans-serif; }

        #A1 { text-align: right; }

	h3.title { color: #850505; }

	a { color: #850505; text-decoration: none; }

	input[type=checkbox] { margin: 0; vertical-align: middle; }

	.bw { height: 300px; }

	.sleek { margin:0; padding:0; }
	.bold { font-weight: bold; }
	.no-bold { font-weight: normal; }
	.center { text-align: center; }
	.left { text-align: left; }
	.bottom { padding-bottom: 20px; }

}
