
@media screen {
	/* Body Styles */

	body {
		background-color: #6D6D6D;
		margin: 0 auto; padding: 40px 0;
		text-align: center;

		font: normal 12px/1.4em Verdana, Georgia, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}


        a:link, a:visited {
                color: #3D3D3D;
		border-bottom: 1px solid #C1C0C0;
		text-decoration: none;
        }

        a:hover, a:active {
                color: #9D9D9D;
		text-decoration: none;
        }

        p {
                margin: 0 0 10px 0;
        }

        h3 {
                margin: 0;
                padding: 10px 0 10px 0;
                font: bold 14px/1.5em Verdana, Georgia, Arial, Helvetica, sans-serif;
                color: #AF0B34;
        }

	#footer a:link, #footer a:visited, #footer a:active {
		color: #9D9D9D;
		text-decoration: none;
	}

	#footer a:hover {
		text-decoration: none;
	}


	/* Form Styles */
	form {
		margin: 0; padding: 0;
	}

	input, textarea, select {
		font: normal 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
		color: #6D6D6D;
	}


	#wrap {
		margin: 0 auto; padding: 0;
		width: 1080px;
		background-color: white;
		border: 1px solid #C1C0C0;
		text-align: left;
	}

        #user-list-table {
		width: 1020px;
        }

	#menu {
		margin-top: 30px;
		margin-left: 36px;
		margin-bottom: 1em;
		width: 860px;
	}

	#content {
		clear: both;
		margin: 0;
		padding: 20px 36px;
	}

	#footer {
		clear: both;
		text-align: left;
		margin: 0;
		padding: 0 36px;
	}


	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#menu li {
		/*border-left: 1px solid #C1C0C0;*/
		background-image: none;
		/*line-height: 1.5em;*/
		font: normal 11px Verdana, Georgia, Arial, Helvetica, sans-serif;
	}

	/*#menu a:link, #menu a:visited { color: #9D9D9D; }*/
	#menu a:hover, #menu a:active { color: #AF0B34; }
	#menu #active { color: #AF0B34; font-weight: bold; }


	/* Body styles */

	#body, #noquote {
		width: 940px;
		float: left;
		margin-right: 20px;
		clear: both;
	}

	#body p, #noquote p { text-align: left; }

	#body-left {
		width: 235px;
		float: left;
		margin: 0; padding: 0; margin-right: 20px;
	}

	#body-right {
		width: 235px;
		float: left;
		margin: 0; padding: 0; margin-right: 20px;
	}

	table {
		margin-bottom: 15px;
	}

	#tabledata {
		border: 1px solid #EEE;
		border-width: 1px 0 0 1px;
		font: normal 11px/1.4em Arial, Helvetica, sans-serif;
	}

	#tabledata td {
		border-bottom: 1px solid #EEE;
		border-right: 1px solid #EEE;
		margin: 0; padding: 4px 6px;
		}

	table.hist {
		margin-bottom: 15px;
		font: normal 10px Arial, Helvetica, sans-serif;
	}


	tr.highlight { background:#DDDDDD; }


	tr.error { color: red; }


	#quarantine tr:hover {
		background: #DDDDDD;
	}

	#pagenav {
		margin-top: 1px;
		margin-bottom: 20px;
		font: normal 15px Arial, Helvetica, sans-serif;
	}

	#pagenav a.navlink {
		color: black;
		font: normal 25px Arial, Helvetica, sans-serif;
	}

	td.HAM {
		color: green;
	}

	td.SPAM {
		color: red;
	}

	td.VIRUS {
		color: black;
	}

	td.spam {
		background: red;
	}

	td.ham {
		background: green;
	}

        td.realname {
		width: 200px;
	}

	.loginfailed {
		color: red;
		font: normal 11px/1.6em Verdana, Arial, Helvetica, sans-serif;
	}

	#footer p {
		font-size: 11px;
		color: #9D9D9D;
		padding: 15px 0;
	}

	#dhtmltooltip {
		position: absolute;
		width: 150px;
		border: 2px solid black;
		padding: 2px;
		background-color: lightyellow;
		color: #ffffff;
		visibility: hidden;
		z-index: 100;
	}


}


